<h1>Create a new post..</h1>

<form action="" method="post" enctype="multipart/form-data">

  <label for="input-title"></label>
  <input type="text" id="input-title" name="title" placeholder="Post title.." />

  <label for="input-content"></label>
  <textarea name="content" id="input-content" placeholder="more..."></textarea>


  <label for="input-picture">Image</label>
  <input name="picture" id="input-picture" type="file" />
  <button>Post</button>
</form>